.root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  // vertical-align: middle;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url('https://cdn.imweb.me/upload/S202207202685e30f16e24/8b48c67f8cdf6.jpeg');
}