@keyframes showUp {
  0% {
    opacity: 0;
    transform: scale(1.2)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes showDown {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  100% {
    opacity: 0;
    transform: scale(1.2)
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(100px)
  }

  50% {
    opacity: 0.5;
    transform: translateY(-15px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes popDown {
  0% {
    opacity: 0;
    transform: translateY(0px)
  }

  70% {
    opacity: 1;
    transform: translateY(-15px)
  }

  100% {
    transform: translateY(100px)
  }
}

.userData {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  background-color: rgb(35, 36, 40);

  .userProfile {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex: 1;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: rgb(57, 58, 65);
    }

    .userImgWrapper {
      width: 30px;
      height: 30px;
      border-radius: 70%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .textArea {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      color: azure;
      margin-left: 5px;
      padding: 3px;

      .userName {
        font-size: 14px;
        font-weight: 600;
      }

      .userStatus {
        font-size: 11px;
        color: rgb(198, 203, 212);

      }
    }

  }

  .userControl {
    display: flex;
    flex: 1;
    padding: 5px;

    .icon {
      display: flex;
      align-items: center;
    }

  }
}

.iconWrapper {
  padding: 5px;
  border-radius: 3px;
  margin: 1px;

  &:hover {
    cursor: pointer;
    background-color: rgb(57, 58, 65);
  }

  .svgIcon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;


    path {
      fill: rgb(191, 195, 204)
    }
  }
}

.aniShowDown {
  animation: showDown 0.1s;
}

.aniShowUp {
  animation: showUp 0.1s;
}

.aniPopUp {
  animation: popUp 0.4s;
}

.aniPopDown {
  animation: popDown 0.1s;
}

.setUpModal {
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: rgb(181, 186, 193);
  z-index: 1;

  .divineLine {
    width: 100%;
    height: 1px;
    background-color: rgb(65, 65, 70);
    margin: 40px 0 40px 0;
  }

  .list {
    min-width: 215px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 3 auto;
    background-color: rgb(43, 45, 49);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 60px 10px 0 0;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 5px;
      background-color: rgb(44, 44, 46);
    }

    &::-webkit-scrollbar-thumb {
      // border: 1px solid rgb(105, 105, 110);
      border-radius: 5px;
      background-color: rgb(27, 27, 32);
    }

    .itemTitle {
      display: flex;
      align-items: center;
      padding: 0 0 0 3px;
      width: 192px;
      height: 32px;
      font-size: 12px;
    }

    .item {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 0 0 0 3px;
      width: 192px;
      height: 32px;

      &:hover {
        cursor: pointer;
        background-color: rgb(60, 60, 65);
      }
    }
  }

  .content {
    min-width: 700px;
    background-color: rgb(49, 51, 56);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 60px 40px 0 40px;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 5px;
      background-color: rgb(44, 44, 46);
    }

    &::-webkit-scrollbar-thumb {
      // border: 1px solid rgb(105, 105, 110);
      border-radius: 5px;
      background-color: rgb(27, 27, 32);
    }

    h2 {
      color: aliceblue;
      font-size: 20px;
    }

    .profileCard {
      position: relative;

      .banner {
        height: 100px;
        background-color: royalblue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .userTitle {
        display: flex;
        justify-content: space-between;
        background-color: rgb(28, 28, 32);
        padding: 20px 20px 20px 120px;

        .avatar {
          position: absolute;
          top: 80px;
          left: 15px;

          .imageWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95px;
            height: 95px;
            border-radius: 70%;
            background-color: rgb(28, 28, 32);

            .image {
              width: 80px;
              height: 80px;
              border-radius: 70%;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }


            }
          }

          .userStatusWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 28px;
            height: 28px;
            background-color: rgb(28, 28, 32);
            border-radius: 70%;

            .userStatus {

              width: 16px;
              height: 16px;
              border-radius: 70%;
              background-color: rgb(35, 164, 90);
            }
          }



        }

        .nickname {
          font-size: 20px;
          font-weight: 800;
          color: white;
        }

        .buttonArea {
          .button {
            color: white;
            background-color: royalblue;
            font-size: 15px;
            border-radius: 3px;
            padding: 5px 12px 5px 12px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .userInfo {
        padding: 15px;
        background-color: rgb(30, 30, 34);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .info {
          background-color: rgb(45, 45, 49);
          padding: 5px;


          .item {
            display: flex;
            margin: 10px;

            .textArea {
              display: flex;
              flex: 1 0 auto;
              flex-direction: column;

              .textTitle {
                font-size: 12px;
              }

              .textContent {
                font-size: 14px;
                color: aliceblue;
              }
            }

            .buttonArea {
              display: flex;
              justify-content: center;
              align-items: center;

              .button {
                padding: 5px 12px 5px 12px;
                border-radius: 3px;
                font-size: 14px;
                background-color: rgb(80, 80, 90);
                color: aliceblue;

                &:hover {
                  cursor: pointer;
                }
              }

            }
          }

        }
      }
    }

    .password {
      display: flex;

      .buttonUpdatePassword {
        padding: 5px 15px 5px 15px;
        background-color: royalblue;
        color: white;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          background-color: rgb(80, 129, 217);
        }
      }
    }

    .setProfile {
      display: flex;
      flex-direction: row;

      .text {
        font-size: 12px;
        font-weight: 600;
        margin: 0 0 10px 0;
      }

      .setArea {
        display: flex;
        flex: 5;
        flex-direction: column;
        padding: 0 15px 0 0;

        .item {
          margin: 0 0 20px 0;

          input {
            padding: 0 0 0 7px;
            height: 40px;
            border-radius: 3px;
            border: 0;
            width: 100%;
            background-color: rgb(28, 28, 32);
            color: rgb(181, 186, 193);
            font-size: 16px;

            &:focus {
              outline: none;
            }
          }

          .buttonArea {
            display: flex;

            .buttonChange {
              position: relative;
              padding: 5px 15px 5px 15px;
              background-color: royalblue;
              color: white;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 400;

              input {
                cursor: pointer;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                font-size: 0px;
              }

              &:hover {
                cursor: pointer;
                background-color: rgb(80, 129, 217);
              }
            }
          }
        }
      }

      .previewArea {
        display: flex;
        flex: 6;
        flex-direction: column;
        padding: 0 0 0 15px;

        .profileCard2 {
          display: flex;
          flex-direction: column;
          position: relative;

          .avatar {
            position: absolute;
            top: 15px;
            left: 15px;

            .imageWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 85px;
              height: 85px;
              border-radius: 70%;
              background-color: rgb(45, 45, 49);

              .image {
                width: 70px;
                height: 70px;
                border-radius: 70%;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            .userStatusWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 0px;
              right: 0px;
              width: 28px;
              height: 28px;
              background-color: rgb(45, 45, 49);
              border-radius: 70%;

              .userStatus {
                width: 16px;
                height: 16px;
                border-radius: 70%;
                background-color: rgb(35, 164, 90);
              }
            }
          }

          .banner {
            height: 60px;
            background-color: royalblue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          .underBanner {
            background-color: rgb(45, 45, 49);
            padding: 65px 15px 15px 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            .userInfoArea {
              display: flex;
              flex-direction: column;
              background-color: rgb(28, 28, 32);
              padding: 10px;
              border-radius: 5px;

              .nicknameArea {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .saveArea {
      display: flex;
      align-items: center;
      background-color: rgb(30, 30, 34);
      border-radius: 5px;
      padding: 10px;
      margin: 20px 0 20px 0;

      .textArea {
        flex: 1 0 auto;
      }

      .buttonArea {
        display: flex;

        .buttonUndo {
          padding: 5px 15px 5px 15px;
          background-color: rgb(28, 28, 32);
          color: white;
          border-radius: 3px;
          margin: 0 10px 0 0;

          &:hover {
            cursor: pointer;
            background-color: rgb(45, 45, 49);
          }
        }

        .buttonSave {
          padding: 5px 15px 5px 15px;
          background-color: rgb(35, 164, 90);
          color: white;
          border-radius: 3px;

          &:hover {
            cursor: pointer;

            background-color: rgb(15, 144, 70);
          }
        }
      }
    }
  }

  .close {
    min-width: 60px;
    display: flex;
    justify-content: left;
    flex: 2 auto;
    background-color: rgb(49, 51, 56);
    padding: 60px 0 0 15px;

    .button {
      display: flex;
      flex-direction: column;

      .buttonImage {
        &:hover {
          cursor: pointer;

          .buttonCircle {
            border: 2px solid rgb(220, 220, 225);

            svg {
              width: 36px;
              fill: rgb(220, 220, 225);

            }
          }
        }

        .buttonCircle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border: 2px solid rgb(181, 186, 193);
          border-radius: 70%;

          svg {
            width: 18px;
            height: 18px;
            fill: rgb(181, 186, 193);
          }
        }
      }

      .buttonText {
        display: flex;
        justify-content: center;
        margin: 5px 0 0 0;

        span {
          color: rgb(181, 186, 193);
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}

.modalUpdatePw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bgDark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .setWindow {
    width: 440px;
    z-index: 1;

    .setArea {
      padding: 18px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgb(49, 51, 56);

      h2 {
        text-align: center;
        font-size: 24px;
        margin: 5px 0 8px 0;
      }

      h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 24px 0;
      }

      .item {
        margin-top: 10px;

        .textWrapper {
          font-size: 12px;
          margin-bottom: 5px;
        }

        .inputWrapper {
          input {
            padding: 0 0 0 7px;
            height: 40px;
            border-radius: 3px;
            border: 0;
            width: 100%;
            background-color: rgb(28, 28, 32);
            color: rgb(181, 186, 193);
            font-size: 16px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .buttonArea {
      display: flex;
      justify-content: flex-end;
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      border-radius: 0px 0px 5px 5px;
      padding: 18px;
      background-color: rgb(43, 45, 49);

      .buttonCancle {
        padding: 10px 25px 10px 25px;
        background-color: rgb(28, 28, 32);
        color: white;
        border: none;
        border-radius: 3px;
        margin: 0 10px 0 0;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          background-color: rgb(35, 35, 38);
        }
      }

      .buttonConfirm {
        padding: 10px 25px 10px 25px;
        background-color: darkslateblue;
        color: aliceblue;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 400;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          background-color: rgb(80, 129, 217);
        }
      }
    }
  }

}